@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: auto auto auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  background-color: hsl(222, 18%, 11%);
  color: hsl(36, 4%, 76%);
}

h1, .primary-navigation {
  display: inline-block;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

.primary-navigation > ul {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 24px;
}

.primary-navigation li + li {
  margin-left: 18px;
}

.primary-navigation a {
  text-transform: uppercase;
  color: inherit;
}
.primary-navigation a:hover {
  color: hsl(36, 4%, 96%);
}

.actions a {
  text-transform: lowercase;
  color: inherit;
  font-size: 12px;
}
.actions a:hover {
  color: hsl(36, 4%, 96%);
}

.actions a + a {
  margin-left: 8px;
}

.actions a + a::before {
  content: "|";
  margin-right: 8px;
}

img {
  max-width: 100%;
}

.hero {
  position: relative;
}

.hero .call-to-action {
  position: absolute;
  bottom: 20%;
}

.color-wash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(222, 18%, 11%, 0.6);
  z-index: 10;
}

.call-to-action {
  width: 100%;
  text-align: center;
  z-index: 20;
}

.call-to-action p {
  font-size: 36px;
  color: hsl(36, 4%, 96%);
}
.call-to-action a {
  font-size: 18px;
  display: inline-block;
  color: hsl(36, 4%, 96%);
  border: 2px solid hsl(36, 4%, 36%);
  padding: 12px;
  margin-top: 16px;
  text-transform: uppercase;
}
.call-to-action a:hover {
  border: 2px solid hsl(36, 4%, 96%);
}
